 <h1 id="api-key-usage">API Key Usage</h1>

<p>You will be given your own, unique API key. The key:</p>

<ul>
  <li>Uniquely identifies you.</li>
  <li>Gives you access to Hogwart's API services.</li>
  <li>Should be kept private and should not be shared.</li>
</ul>

<p>To use your key, simply pass the key as a URL query parameter when making Web service requests. For example:</p>

<div class="highlight"><pre class="highlight plaintext"><code>GET http://hogwarts-it.herokuapp.com/api/v1/house/gryffindor?api_key=YOUR_KEY_HERE
</code></pre></div>
